* {
 box-sizing: border-box;
}


/*---========================================
	Search Form
==============================================*/

header {
  display: flex;
  background: #fff;
  padding: 2rem;
}


input {
  width: 100%;
  max-width: 460px;
  margin: auto;
  padding: .5rem 1rem;
  border: 2px solid #bfbebe;
  border-radius: 6px;
}

}

  input[placeholder]  {
    color: rgba(0, 0, 0, 1);}

/*---========================================
	Photo Gallery
==============================================*/

.photogallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
    align-content: center;
}
ul li {
  padding-bottom: 60px;
}


/*---========================================
   Overlay
==============================================*/

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  margin-left: height:100vh;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
 margin-top: 5%;
 width: 70%;

}

#overlay p {
 color:white;
}
